<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{title}}
    </title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css/' %}">
    
</head>
<body>
    hi how are you 
    <div class="container">
        <h1>Welcome to My Page</h1>
        <p>This is a simple HTML template.</p>
        <p>Feel free to modify it as you like!</p>
    </div>    

    {% for item in course_name %}
            <h2>{{forloop.counter}}{{item}}</h2>

            <!--[1] forloop.last
            [2] forloop.reversecounter
            [3] forloop -->
    {% endfor %}

    <table border="2" cellpadding="5" cellspacing="0" style="background-color: antiquewhite;">
        <tr>
            <td style="background-color: cornflowerblue;">course_name</td>
            <td style="background-color: cornflowerblue;">course_duration</td>
        </tr>

    {% for item in course_duration %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.duration}}</td>
    </tr>
        
    {% endfor %}    
        </table>

    
<!-- if else blocks -->

{% if number|length > 0 %}

    {% for num in number%}
    {% if num > 20 %}

     <div class="numbers">
        {{num}} 
    </div>
    
    {% endif %}
    {% endfor %}
{% else %}
    <p>No numbers available.</p>
{% endif %}
</body>
</html>                             