<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title1 }}</title>

    <style>
        .registration{
            border-radius: 10px;
            border: 2px solid #000;
            padding: 20px;
            background-color:rgb(242, 163, 107);
            width: 300px;   
            margin: 0 auto;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
        }
       
    </style>

</head>
<body>

    <h1>Register Here!</h1>
<div clas='registration'>
    <label for="username">name:</label>
    <input type="text" id="username" name="username" placeholder="Enter your name" width='27px'><br><br>

    <label for="email">email:</label>   
    <input type="email" id="email" name="email" placeholder="Enter your email" width='27px'><br><br>

    <label for="password">password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" width='27px'><br><br>

    <label for="confirm_password">confirm password:</label>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" width='27px'><br><br>

    <label for="phone">phone:</label>
    <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" width='27px'><br><br>

    <label for="address">address:</label>
    <input type="text" id="address" name="address" placeholder="Enter your address" width='27px'><br><br>
</div>

</body>
</html>